databases:
  - name: xxx-db

services:
  - type: web
    name: xxx-app
    env: node
    plan: free
    buildCommand: |
      cd backend && npm install
      cd ../frontend && npm install && npm run build
    startCommand: cd backend && npm run start
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: xxx-db
          property: connectionString
      - key: DB_DIALECT
        value: postgres
      - key: DB_SSL
        value: "true"
      - key: DB_SSL_REJECT_UNAUTHORIZED
        value: "false"
      - key: NODE_ENV
        value: production
