databases:
  - name: xxx-db

services:
  - type: web
    name: XXX
    env: node
    branch: full-original
    plan: starter
    buildCommand: |
      cd frontend && npm install && npm run build
      cd backend && npm install
    startCommand: cd backend && npm start
    rootDirectory: .
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: xxx-db
          property: connectionString
      - key: DB_DIALECT
        value: postgres
      - key: DB_SSL
        value: "true"
      - key: DB_SSL_REJECT_UNAUTHORIZED
        value: "false"
      - key: NODE_ENV
        value: production
